<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= 'â­ï¸' * @restaurant.rating %></p>
<p><%= link_to 'Delete', restaurant_path(@restaurant), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?'} %></p>
<p><%= link_to 'Back to list', restaurants_path %></p>
